<app-header title="{{ cargarMoto.modelo }}" goHome="true"></app-header>


<ion-content>

  <ion-card>
    <div class="ion-justify-content-center">
      <img [src]="cargarMoto.foto" />
    </div>
    
    <ion-card-header>
      <ion-card-subtitle> {{ cargarMoto.marca }} </ion-card-subtitle>
      <ion-card-title>{{ cargarMoto.modelo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Toda esencia de las motos en la forma más ligera, compacta y esencial posible.
      Todo lo que necesitas para divertirte, todos los días.
    </ion-card-content>

    <ion-button (click)="borrarMoto()" color="warning" expand="block" size="default">
      BORRAR MOTO
    </ion-button>
  </ion-card>

</ion-content>
