<app-header title="Alta moto" [goHome]="true"></app-header>

<ion-content>
  <ion-item>
    <label for="cameraPhoto"> <img id="icon" [src]="cameraImage"/> </label>
    <input (change)="cameraImageChange($event.target.files)" id="cameraPhoto" type="file" name="foto" accept="image/*" capture="camera" class="hacerSubirFoto" />
  </ion-item>

  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-input type="text" [(ngModel)]="marcaa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input type="text" [(ngModel)]="modeloo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Año</ion-label>
    <ion-input type="text" [(ngModel)]="year"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input type="number" [(ngModel)]="precioo"></ion-input>
  </ion-item>

  <ion-button (click)="anadirNuevaMoto()" expand="block"> AÑADIR MOTO </ion-button>
</ion-content>
