ion-menu {
    position: fixed;
}
  
.botonPlus{
    margin-right: 15px;
    margin-bottom: 10px;
}

ion-img{
    height: 100px !important;
    width: 100px !important;
}

ion-label{
    font-size: 10px;
}
ion-title{
    font-size: 15px;
}