<app-header title="Mis Motos Albert" [menu]="true"></app-header>

<ion-content>

  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Filtro marcas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle auto-hide="true">
        <ion-list *ngFor="let motooo of motosFiltradas">
          <ion-item (click)="filtroMotos(motooo.title)">
            <ion-avatar slot="start">
              <ion-img [src]="motooo.image"></ion-img>
            </ion-avatar>
            <ion-label> {{ motooo.title }} </ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-list *ngFor="let motoo of motos">
    <ion-item (click)="detalleMoto(motoo)">
      
        <ion-img [src]="motoo.foto"></ion-img>
        <ion-title> {{motoo.modelo}} </ion-title>
    </ion-item>
  </ion-list>
  

  <ion-fab class="botonPlus" vertical="bottom" horizontal="end" slot="fixed" (click)="anadirNuevaMoto()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>